<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- custom style css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic budle -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ngCordova -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- ion-date-time-picker js -->
    <script src="lib/ion-datetime-picker-master/release/ion-datetime-picker.min.js"></script>

    <!-- ion-date-time-picker css -->
    <link href="lib/ion-datetime-picker-master/release/ion-datetime-picker.min.css" rel="stylesheet">
    
    <!-- your app's js -->
    <script src="js/app.js"></script>

    <!-- services -->
    <script src="js/service.js"></script>

    <!-- location services -->
    <script src="js/location.js"></script>
      
    <!-- state and configuration -->
    <script src="js/state.js"></script>
    
    <!-- main controller -->
    <script src="js/controller.js"></script>

    <!-- settings-controller -->
    <script src="js/settings-controller.js"></script>

    <!-- survey-controller -->
    <script src="js/survey-controller.js"></script>

  </head>

  <body ng-app="tgs">

  <ion-side-menus>
      <!-- Load the view and main content -->
      <ion-side-menu-content >
          <div ng-class="{'opaque-content' : sidemenuopened}">
               <!-- Initialize back button -->
               <ion-nav-bar class="bar-assertive">
                  <ion-nav-back-button></ion-nav-back-button>
               </ion-nav-bar>

               <!-- Render the ion views -->
               <ion-pane>
                  <ion-nav-view></ion-nav-view>
               </ion-pane>
          </div>
      </ion-side-menu-content>

      <ion-side-menu side="left" id="side-menu" width="350">

        <img src="./img/close.png" id="tick-x" ng-click="toggleLeft()"/>
        <img src="./img/logo.jpg" id="side-menu-logo"/>

        <div id="side-menu-container">

          <ion-list>

            <ion-item id="side-list">
              <a class="button button-clear item item-icon-left" ui-sref="app-home" ng-click="toggleLeft()">
                <i class="icon">
                  <i class="ion-ios-home-outline" id="side-menu-icons"></i>
                </i>
                <span id="side-menu-item-text"> Home </span>
              </a>
            </ion-item>

            <ion-item id="side-list">
              <a class="button button-clear item item-icon-left" ui-sref="survey-landing" ng-click="toggleLeft()">
                <i class="icon">
                  <i class="ion-ios-list-outline" id="side-menu-icons"></i>
                </i>
                <span id="side-menu-item-text"> {{ store_type }} Type </span>
              </a>
            </ion-item>

            <ion-item id="side-list">
              <a class="button button-clear item item-icon-left" ui-sref="settings" ng-click="toggleLeft()">
                <i class="icon">
                  <i class="ion-ios-gear-outline" id="side-menu-icons"></i>
                </i>
                <span id="side-menu-item-text"> Settings </span>
              </a>
            </ion-item>

            <ion-item id="side-list">
              <a class="button button-clear item item-icon-left">
                <i class="icon">
                  <i class="ion-android-sync" id="side-menu-icons"></i>
                </i>
                <span id="side-menu-item-text"> Unsynced (100) </span>
              </a>
            </ion-item>
          </ion-list>
          <div id="side-menu-store-name">{{ store_name }}</div>
        </div>

      </ion-side-menu>

  </ion-side-menus>

  </body>

</html>
