<!-- Non Payday Weekday View -->

<ion-view hide-back-button="true">

	<ion-nav-title>
		<span id="view-title-color">Non Payday Weekend</span>
	</ion-nav-title>

	<ion-nav-buttons side="left">
		 <a id="view-title-color" ui-sref="survey-home" class="button button-icon icon ion-ios-arrow-back"></a>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
			 <a id="view-title-color" class="button button-icon icon" ng-click="save_nonpayday_weekend()">DONE</a>
	</ion-nav-buttons>

	<ion-content scroll="false" id="settings-bg">

		<div class="list" id="settings-list">

			  <div class="item borderless" ion-datetime-picker date sub-title ng-model="nonpayday_weekend.date">
			    <span id="survey-settings-text">Date</span> 
			    <div class="datetime-value"> {{ nonpayday_weekend.date | date: 'MMM d, y'}} </div>
			    <div id="custom-divider-survey"></div>
			  </div>

			  <div class="item borderless" ion-datetime-picker time ng-model="nonpayday_weekend.start">
			    <span id="survey-settings-text">Starts</span> 
			    <div class="time-value-start"> {{ nonpayday_weekend.start | date: 'H:mm' }} </div>
			    <div id="custom-divider-survey"></div>
			  </div>

			  <div class="item borderless" ion-datetime-picker time ng-model="nonpayday_weekend.end">
			    <span id="survey-settings-text">Ends</span> 
			    <div class="time-value-end"> {{ nonpayday_weekend.end | date: 'H:mm' }} </div>
			  </div>

		</div>

	</ion-content>

</ion-view>