<!-- Main Settings View  -->

<ion-view id="settings-bg" hide-back-button="true">
	<ion-nav-title>
		<span id=view-title-color>Settings</span>
	</ion-nav-title>

	<ion-content scroll="false" id="settings-bg">

		<div class="list" id="settings-list">

			  <a class="item item-icon-right" id="settings-item" ui-sref="store">
	    		<i class="icon" id="settings-icon" style="l"><img src="img/store-settings.png"></i>
			    <span id="settings-icon-text">Store Settings</span>
			    <i class="icon ion-chevron-right" id="settings-arrow" ></i>
			  </a>

			  <a class="item item-icon-right" id="settings-item"  ui-sref="language">
	    		<i class="icon" id="settings-icon"><img src="img/survey-language-settings.png"></i>
			    <span id="settings-icon-text">Survey Language</span>
			    <i class="icon ion-chevron-right" id="settings-arrow" ></i>
			  </a>

			  <a class="item item-icon-right" id="settings-item"  ui-sref="survey-home">
	    		<i class="icon" id="settings-icon"><img src="img/survey-settings.png"></i>
			    <span id="settings-icon-text">Survey Settings</span>
			    <i class="icon ion-chevron-right" id="settings-arrow"></i>
			  </a>

		</div>
	</ion-content>

</ion-view>