<!-- Main Settings View  -->

<ion-view id="settings-bg" hide-back-button="true">
	<ion-nav-title>
		<span id=view-title-color>Settings</span>
	</ion-nav-title>

	<ion-content scroll="false" id="settings-bg">

		<div class="list" id="settings-list">

			  <a class="item item-icon-right" id="settings-item" ui-sref="store">
	    		<i class="icon ion-ios-briefcase-outline custom-icon" id="settings-icon"></i>
	    		<!--<img src="img/store-settings.png">-->
			    <span id="settings-icon-text">Store Settings</span>
			    <i class="icon ion-chevron-right" id="settings-arrow" ></i>
			    <div id="custom-divider-survey"></div>
			  </a>

			  <a class="item item-icon-right" id="settings-item"  ui-sref="language">
	    		<i class="icon ion-ios-chatbubble-outline custom-icon" id="settings-icon"></i>
	    		<!--<img src="img/survey-language-settings.png">-->
			    <span id="settings-icon-text">Survey Language</span>
			    <i class="icon ion-chevron-right" id="settings-arrow" ></i>
			    <div id="custom-divider-survey"></div>
			  </a>

			  <a class="item item-icon-right" id="settings-item"  ui-sref="survey-home">
	    		<i class="icon ion-ios-paper-outline custom-icon" id="settings-icon"></i>
	    		<!--<img src="img/survey-settings.png">-->
			    <span id="settings-icon-text">Survey Settings</span>
			    <i class="icon ion-chevron-right" id="settings-arrow"></i>
			    <div id="custom-divider-survey"></div>
			  </a>

			  <a class="item item-icon-right" id="settings-item">
	    		<i class="icon ion-ios-loop-strong reset" id="settings-icon"></i>
			    <span id="settings-icon-text">Reset</span>
			    <i class="icon ion-chevron-right" id="settings-arrow"></i>
			  </a>

		</div>

		<div ng-show="showStartApp" class="button button-assertive center" ng-click="startapp()">
			Start Using the App
		</div>

	</ion-content>

</ion-view>