<!-- Store Settings View -->

<ion-view hide-back-button="true">
	<ion-nav-title>
		<span id="view-title-color">Store Settings</span>
	</ion-nav-title>

	<ion-nav-buttons side="left">
		 <a id="view-title-color" ui-sref="settings" class="button button-icon icon ion-ios-arrow-back"></a>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
			 <a id="view-title-color" class="button button-icon icon" ng-click="save_store_settings()">DONE</a>
	</ion-nav-buttons>


	<ion-content scroll="false" id="settings-bg">	
		<div class="list" id="settings-list">
			
			<div class="item" style="border: none">
				<span id="store-form-label">Store Code</span>  
				<div id="input-wrapper" style="margin-left: 60px;"> 
					<input no-emoji type="text" placeholder="Enter Store Code" ng-model="store_form.store_code">
				</div>
			</div>

			<div class="item" style="border: none">
				<span id="store-form-label">Branch Name</span>  
				<div id="input-wrapper" style="margin-left: 40px;"> 
					<input no-emoji type="text" placeholder="Branch Name" ng-model="store_form.store_branch">
				</div>
			</div>

			<div class="item" style="border: none">
				<span id="store-form-label">Store Address</span>  
				<div  no-emoji id="input-wrapper" style="margin-left:34px;"> 
					<input type="text" placeholder="Store Address" ng-model="store_form.store_address">
				</div>
			</div>

			<div class="item" style="border: none">
				<span id="store-form-label">Store Type</span>  
				<div id="input-wrapper" style="margin-left:59px;" ng-click="storeType()"> 
					<input type="text" placeholder="Store Type" ng-model="store_form.store_type">
				</div>
				<i class="icon ion-chevron-right" id="settings-store-arrow" style="margin-left: 35%"></i>
			</div>

			<div class="item" style="border: none">
				<span id="store-form-label">Store Manager</span>  
				<div id="input-wrapper" style="margin-left:30px;"> 
					<input no-emoji type="text" placeholder="Store Manager" ng-model="store_form.store_manager">
				</div>
			</div>

		</div>
	</ion-content>

</ion-view>