<!-- Store Type Popup  Template -->
<div ng-app="tgs" ng-controller="settingsCtrl">
	<div style="margin-bottom: 20px">
		<div class="list">
			  <div class="item item-icon-left borderless">
			    <i class="icon"><input type='radio' name='a' checked/></i> Mall
			  </div>

			  <div class="item item-icon-left borderless">
			    <i class="icon"><input type='radio' name='a'/></i> Instore
			  </div>
	 	</div>
	</div>

	<div align="right" class="settings-footer">
		<span style="margin-right: 40px;" ng-click="closeStoreType()">CANCEL</span> <span style="margin-right: 20px">OK</span>
	</div>
</div>
