<!-- Survey Language View -->

<ion-view hide-back-button="true">
	<ion-nav-title>
		<span id="view-title-color">Survey Language</span>
	</ion-nav-title>

	<ion-nav-buttons side="left">
		 <a id="view-title-color" ui-sref="settings" class="button button-icon icon ion-ios-arrow-back"></a>
	</ion-nav-buttons>

	<ion-content scroll="false" id="settings-bg">	
		<div class="list" id="settings-list">

			<div class="item item-icon-right" id="settings-item">
			    <span id="language-text">English</span>
			    <i class="icon" id="settings-arrow"><ion-checkbox style="width: 10px; border: transparent;" class="checkbox-assertive"></ion-checkbox></i>
			    <div id="custom-divider"></div>
			</div>
			<div class="item item-icon-right" id="settings-item">
			    <span id="language-text">Tagalog</span>
			    <i class="icon" id="settings-arrow"><ion-checkbox style="width: 10px; border: transparent;" class="checkbox-assertive"></ion-checkbox></i>
			</div>

		</div>
	</ion-content>

</ion-view>