<!-- Survey Settings Home View -->

<ion-view hide-back-button="true">

	<ion-nav-title>
		<span id="view-title-color">Survey Settings</span>
	</ion-nav-title>

	<ion-nav-buttons side="left">
		 <a id="view-title-color" ui-sref="settings" class="button button-icon icon ion-ios-arrow-back"></a>
	</ion-nav-buttons>

	<ion-content scroll="false" id="settings-bg">

		<div class="list" id="settings-list">

			  <a class="item borderless" ui-sref="payday-weekday">
			    <span id="survey-settings-text">Payday Weekday</span> 
			    <input type="text" placeholder="Select Date and Time" disabled="true" id="survey-settings-date"/>
			    <i class="icon ion-chevron-right settings-arrow" id="settings-arrow"></i>
			    <div id="custom-divider-survey"></div>
			  </a>

			  <a class="item borderless" ui-sref="nonpayday-weekday">
			    <span id="survey-settings-text">Non Payday Weekday</span> 
			    <input type="text" placeholder="Select Date and Time" disabled="true" id="survey-settings-date-non-payday"/>
			    <i class="icon ion-chevron-right settings-arrow" id="settings-arrow"></i>
			    <div id="custom-divider-survey"></div>
			  </a>

			  <a class="item borderless">
			    <span id="survey-settings-text">Payday Weekend</span> 
			    <input type="text" placeholder="Select Date and Time" disabled="true" id="survey-settings-date"/>
			    <i class="icon ion-chevron-right settings-arrow" id="settings-arrow"></i>
			    <div id="custom-divider-survey"></div>
			  </a>

			  <a class="item borderless">
			    <span id="survey-settings-text">Non Payday Weekend</span> 
			    <input type="text" placeholder="Select Date and Time" disabled="true" id="survey-settings-date-non-payday"/>
			    <i class="icon ion-chevron-right settings-arrow" id="settings-arrow"></i>
			  </a>

		</div>

	</ion-content>

</ion-view>