<!--  Sync View  -->

<ion-view id="settings-bg" hide-back-button="true">

	<ion-nav-title>
		<span id="view-title-color"> Unsynced </span>
	</ion-nav-title>

	<ion-nav-buttons side="left">
	 	<a id="view-title-color"  class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></a>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
	 	<a id="view-title-color"  class="button button-icon icon ion-android-sync" ng-click=""></a>
	</ion-nav-buttons>

	<ion-content scroll="false" id="survey-background">

	</ion-content>
	
</ion-view>