/*  Custom style css */


/* Settings  CSS */

#view-title-color {
	color: #FFFFFF;
}

#settings-bg {
	background-color: #F2F2F2;
}

#settings-item {
	border:none;
}

#settings-arrow {
	font-size: 15px;
}

#settings-list {
	margin-top: 22px;
	border-top: 2px solid #E6E6E6;
	border-bottom: 2px solid #E6E6E6;
}

#settings-icon {
	left:40px
}

#settings-icon-text {
	margin-left: 70px
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}


/* Store Settings */

#store-form-label {
	font-weight: bold;
	margin-left: 30px;
	color: black;
}

#input-wrapper {
	width: 68%;
	border-bottom: 1px solid #E6E6E6;
	display: inline-block;
}

input::-webkit-input-placeholder {
	font-style: italic;
	font-size: 16px;
}

#settings-store-arrow {
	position: absolute;
	margin-left: -20px !important;
}

.settings-footer {
	color: #136E35;
	font-weight: bold;
	height: 35px;
}


/* Radio Buttons */

input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid green;
    border-radius: 50%;
    outline: none;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;    
    border-radius: 50%;    
}
input[type='radio']:checked:before {
    background: green;
}

/* General Classes */

.landing-content {
	padding: 80px 0; 
	text-align: center;
}

.borderless {
	border: none;
}

.center {
	top: 35px;
	width: 40%; 
	margin: auto;
	display: block;
}

#custom-divider {
	background-color: #E6E6E6; 
	height: 10px;
	width: 540px; 
	position: absolute;
	margin-top: 14px;
	margin-left: 5%;
}

.opaque-content {
   opacity: 0.1;
}


/* Survey Language Settings */
#language-text {
	font-weight: bold;
	margin-left: 30px;
	color: black;
}

.survey-checkbox {
	width: 10px; 
	border: transparent;
}

/* Survey Settings Home */

#survey-settings-date {
	background: transparent;
	display: inline-block;
	margin-left: 70px;
	font-size: 15px;
	font-style: italic;
}

#survey-settings-date-non-payday {
	background: transparent;
	display: inline-block;
	margin-left: 38px;
    font-size: 15px;
    font-style: italic;
}

#survey-settings-text {
	margin-left: 30px;
	font-weight: bold;
}

.settings-arrow {
	margin-left: 130px;
}

#custom-divider-survey {
	background-color: #E6E6E6; 
	height: 10px;
	width: 540px; 
	position: absolute;
	margin-top: 14px;
	margin-left: 4%;
}

div.datetime-value {
	display: inline-block;
	margin-left: 100px;
    font-size: 14px;
}

div.time-value-start {
	display: inline-block;
	margin-left: 89px;
    font-size: 14px;
}

div.time-value-end {
	display: inline-block;
	margin-left: 95px;
    font-size: 14px;
}

/* Survey Home */

#tick-x {
	height: 20px;
	margin-top: 28px;
	margin-left: 305px
}

#side-menu {
	background-color: #136E35;
	border-color: transparent;
}

#side-menu-container {
	margin-top: 50px;
	margin-left: 25px;
}

#side-menu-logo {
	height: 100px;
	margin-top: 40px !important; 
	margin: auto; 
	display: block;
}

#side-menu-item-text {
	color: #ffffff; 
	font-size: 18px;
	margin-left: 60px; 
	display: inline-block;
	margin-top: 3px;
}

#side-list {
	background-color: transparent;
	border: none;
}

#side-menu-icons {
	color: white;
	font-size: 40px
}

#center-main {
	margin-top: 20% !important;
	width: 70%; 
	margin: auto;
	display: block;
}

#text-banner {
	color: #FFFFFF; 
	font-size: 35px; 
	margin-top: 50px; 
	text-align: center;
	font-weight: bold;
}

#side-menu-store-name {
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	width: 300px;
	margin-top: 100%;
}

#home-footer {
	text-align:center; 
	margin-top: 350px;
	font-size: 25px; 
	color: #FFFFFF;
}

#survey-home-bg {
	background-color: #136E35;
}

/* Survey Landing Page Home */

#landing-page-icon {
	margin-top: 60px !important;
	width: 40%; 
	margin: auto; 
	display: block;
}

.store-type-text {
	color: #FFFFFF;
	text-align: center; 
	font-size: 30px; 
	margin-top: 40px;
}

.landing-text {
	color: #FFFFFF; 
	text-align: center; 
	font-size: 17px;
}

#landing-button {
	color: white; 
	border-color: #FFFFFF;
	font-size: 18px;
	width: 200px;
}

/* Survey Thank You */

#landing-page-icon-thank {
	width: 60%; 
	margin: auto; 
	display: block;
}

/* Survey Form */

.number {
	color: red;
	font-size: 26px;
	font-weight: 	bold;
	vertical-align:middle;
}

.label-bold {
	color: black;
	font-size: 26px;
	font-weight: 	bold;
	vertical-align:middle;
}

.sub-label {
	font-size: 18px; 
	font-weight: normal;
}

.question {
	font-size: 16.5px;
}

#red-radio input[type='radio'] {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #666666 !important;
    border-radius: 50%;
    outline: none;
}

#red-radio input[type='radio']:before {
    content: '';
    display: block;
    width: 70%;
    height: 70%;
    margin: 16% auto;    
    border-radius: 50%;    
}

#red-radio input[type='radio']:checked:before {
    background: red;
}

#red-radio input[type='radio']:checked {
    border: 2px solid red !important;
}

.option-text {
	color: black;
}

.tab-option {
	margin-left: 18px;
}

#line-break {
	margin-left: 28px;
}

#survey-margin {
	margin-top: 40px; 
	margin-left: 40px;
}

#survey-background {
	background-color: #FFFFFF;
}

#floater {
	height: 50px
}

.bottom-liner {
	border-bottom: 2px solid #E6E6E6; 
	width: 300px;
}

.input-liner {
	width: 300px;
	font-size: 15px !important;
}

.tab-option2 {
	margin-left: 38px;
}

.currency {
    font-size: 25px; 
	display: inline-block !important; 
	position: absolute;
}

.currency-input {
	margin-left: 30px;
}

#multi-liner {
	border-bottom: 2px solid #E6E6E6;
}

/* Two column Text */
input.column-one {
    float:left;
    width: 230px;
}

input.column-two {
	width: 230px;
	float: right;
	position: absolute; 
	margin-left: 240px;
}

/* Two column Select */
select.option-column-one {
    float:left;
    width: 200px;
    height: 25px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
   	border-bottom: 2px solid #E6E6E6 !important;
}

select.option-column-two {
	width: 200px;
    height: 25px;
	float: right;
	position: absolute; 
	margin-left: 35px;
	background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
   	border-bottom: 2px solid #E6E6E6 !important;
}

div.sub-2-column {
	margin-left: 40px !important; 
	position: absolute;
}

.question-2 {
	font-size: 16px;
}

#question-tab {
	font-size: 16.5px;
	color: black !important;
}

select.borderless-top{
	border-top: 2px solid #FFFFFF; 
}

/* Standard styling for select with bottom liner */

div.wrapper-one {
	border-bottom: 2px solid #E6E6E6; 
	float: left;
}

div.wrapper-two {
	border-bottom: 2px solid #E6E6E6; 
	position: absolute; 
	margin-left: 239px;
    float: right;
}

select.borderless-one {
	border: none; 
	background-color: white; 
	height: 25px;
	width: 200px;
	white-space: nowrap;
}

select.borderless-two{
	background: #FFFFFF; 
	height: 25px; 
	width: 200px; 
	border: none;
}

input[type="checkbox"]{
  width: 20px; 
  height: 20px; 
}

div.tab-age {
	margin-left: 60px;
}

.middle-text {
	position: relative; 
	bottom: 7px;
}

.icon-footer {
	font-size: 32px;
}

input:disabled {
	background: #FFFFFF;
}

select {
	white-space: nowrap;
}

.question-tab-2 {
	margin-top:-10px;;
}

#tab-one {
	float: left; 
	width: 50%; 
	height: 60px;
	padding: 20px 0; 
	font-size: 18px;
	background: lightgray;
	border: 1px solid gray;
	border-top: none;
}

#tab-two {
	float: right; 
	width: 50%; 
	height: 60px;
	padding: 20px 0; 
	font-size: 18px; 
	background: lightgray;
	border: 1px solid gray;
	border-top: none;
}

.activeTab {
	border: none !important;
	background-color: #FFFFFF !important;
}

#tab-parent {
	text-align: center;
}

#sync-content {
	width: 100%;
	margin-top: 80px !important;
}

#total-desc {
	float: left; 
	width: 50%; 
	text-align: left; 
	padding-left: 20px; 
	font-size: 18px;
}

#total-count {
	float: right; 
	width: 50%; 
	text-align: right; 
	padding-right: 20px; 
	font-size: 18px;
}

/* ION Spinner */
ion-spinner * {
  width: 50px !important;
  height: 50px !important;
  stroke: #FFFFFF!important;
  fill: #FFFFFF !important;
}

i.custom-icon {
	color: red !important;
	font-size: 40px !important;
}

i.reset {
	color:red !important;
}