/*  Custom style css */


/* Settings  CSS */

#view-title-color {
	color: #FFFFFF;
}

#settings-bg {
	background-color: #F2F2F2;
}

#settings-item {
	border:none;
}

#settings-arrow {
	font-size: 15px;
}

#settings-list {
	margin-top: 22px;
	border-top: 2px solid #E6E6E6;
	border-bottom: 2px solid #E6E6E6;
}

#settings-icon {
	left:40px
}

#settings-icon-text {
	margin-left: 70px
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}