<!--  Survey Landing Page B View  -->

<ion-view id="settings-bg" hide-back-button="true">

	<ion-nav-title>
		<span id="view-title-color"> {{ store_name }}</span>
	</ion-nav-title>

	<ion-nav-buttons side="left">
	 	<a id="view-title-color"  class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></a>
	</ion-nav-buttons>

	<ion-content scroll="true" id="survey-background">

		<!-- Laguage English  -->
		<div  ng-if="language == 'English'" id="survey-margin">
			<p>
				<span class="label-bold">Personal Information</span>
				<line-breaker2></line-breaker2>

				<span class="sub-label">Gender </span>
				<div class="list tab-option">
					  <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP1" ng-model="answer.qP1.ans" value="Male"/></i>
					    <span class="option-text">Male</span>
					  </label>

					  <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP1" ng-model="answer.qP1.ans" value="Female"/></i>
					    <span class="option-text">Female</span>
					  </label>
			 	</div>

				<span class="sub-label">Civil Status</span>
				<div class="list tab-option">
					  <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP2" ng-model="answer.qP2.ans" value="Single"/></i>
					    <span class="option-text">Single</span>
					  </label>

					  <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP2" ng-model="answer.qP2.ans" value="Married"/></i>
					    <span class="option-text">Married</span>
					  </label>
			 	</div>

			 	<span class="sub-label">Occupation</span>
				<div class="list tab-option">

					  <!-- Working or has own business -->
					  <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP3" ng-model="answer.qP3.ans" value="Working or has own business" ng-change="deleteObj.dual('qP3','sub')"/></i>
					    <span class="option-text">Working or has own business</span>
					  </label>

						  <!-- Sub content of Working or has own business -->
						  <div ng-if="answer.qP3.ans == 'Working or has own business'">
		  					  <div class="sub-2-column">
							  		<input id="multi-liner" type="text" placeholder="Name of Office" class="column-one" ng-model="answer.qP3.sub.est_name"/>  
							  </div>		  

							  <line-breaker></line-breaker>		

							  <div class="sub-2-column">
	                               <div class="wrapper-one">
		                               <select class="borderless-one" ng-model="answer.qP3.sub.region" ng-change="QPFilter.region(answer.qP3.sub.region.regCode)" ng-options="a.regDesc for a in qp_regions">
		                                          <option value="">Select Region</option>
		                                </select>  
		                           </div>
		                           <div class="wrapper-two">
								  		<select class="borderless-two" ng-model="answer.qP3.sub.province" ng-change="QPFilter.province(answer.qP3.sub.province.provCode)" ng-options="b.provDesc for b in qp_provinces">
								  				  <option value="">Select Province</option>
								  		</select>  
								  	</div>
							  </div>

							  <line-breaker></line-breaker>

							  <div class="sub-2-column">
							  		<div class="wrapper-one">
								  		<select  class="borderless-one" ng-model="answer.qP3.sub.city" ng-change="QPFilter.city(answer.qP3.sub.city.citymunCode)" ng-options="c.citymunDesc for c in qp_city">
								  				  <option value="">Select City</option>
								  		</select>  
							  		</div>
							  		<div class="wrapper-two">
								  		<select class="borderless-two" ng-model="answer.qP3.sub.brgy" ng-options="d.brgyDesc for d in qp_brgy">
								  				  <option value="">Select Barangay</option>
								  		</select>  
								  	</div>
							  </div>

							  <line-breaker></line-breaker>	

							  <div class="sub-2-column">
							  		<input id="multi-liner" type="text" placeholder="Street Name" class="column-one" ng-model="answer.qP3.sub.street_name"/>  
							  		<input id="multi-liner" type="text" placeholder="Houe No./Ltd No./Building No." class="column-two" ng-model="answer.qP3.sub.building_no"/>
							  </div>

							  <line-breaker></line-breaker>	

							  <div class="sub-2-column">
								  	<input id="multi-liner" type="text" placeholder="Telephone Number" class="column-one" ng-model="answer.qP3.sub.tel_no"/>  
							  </div>	

							  <line-breaker></line-breaker>	
						 </div>


					 <!-- Not working/Student/Housewife -->
					 <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP3" ng-model="answer.qP3.ans" value="Not working/Student/Housewife" ng-change="deleteObj.dual('qP3','sub')"/></i>
					    <span class="option-text">Not working/Student/Housewife</span>
					 </label>

						 <!-- Sub Content of Not working/Student/Housewife -->
						  <div ng-if="answer.qP3.ans == 'Not working/Student/Housewife'">
		  					  <div class="sub-2-column">
							  		<input id="multi-liner" type="text" placeholder="School/Home Address" class="column-one" ng-model="answer.qP3.sub.est_name"/>  
							  </div>		  

							  <line-breaker></line-breaker>		

							  <div class="sub-2-column">
	                               <div class="wrapper-one">
		                               <select class="borderless-one" ng-model="answer.qP3.sub.region" ng-change="QPFilter.region(answer.qP3.sub.region.regCode)" ng-options="a.regDesc for a in qp_regions">
		                                          <option value="">Select Region</option>
		                                </select>  
		                           </div>
		                           <div class="wrapper-two">
								  		<select class="borderless-two" ng-model="answer.qP3.sub.province" ng-change="QPFilter.province(answer.qP3.sub.province.provCode)" ng-options="b.provDesc for b in qp_provinces">
								  				  <option value="">Select Province</option>
								  		</select>  
								  	</div>
							  </div>

							  <line-breaker></line-breaker>

							  <div class="sub-2-column">
							  		<div class="wrapper-one">
								  		<select  class="borderless-one" ng-model="answer.qP3.sub.city" ng-change="QPFilter.city(answer.qP3.sub.city.citymunCode)" ng-options="c.citymunDesc for c in qp_city">
								  				  <option value="">Select City</option>
								  		</select>  
							  		</div>
							  		<div class="wrapper-two">
								  		<select class="borderless-two" ng-model="answer.qP3.sub.brgy" ng-options="d.brgyDesc for d in qp_brgy">
								  				  <option value="">Select Barangay</option>
								  		</select>  
								  	</div>
							  </div>

							  <line-breaker></line-breaker>	

							  <div class="sub-2-column">
							  		<input id="multi-liner" type="text" placeholder="Street Name" class="column-one" ng-model="answer.qP3.sub.street_name"/>  
							  		<input id="multi-liner" type="text" placeholder="Houe No./Ltd No./Building No." class="column-two" ng-model="answer.qP3.sub.building_no"/>
							  </div>

							  <line-breaker></line-breaker>	

						 </div>

					<br/>
					<span class="sub-label">Age</span>
					<div class="list tab-option">

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="13 - 15"/></i>
						    <span class="option-text">13 - 15</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="16 - 19"/></i>
						    <span class="option-text">16 - 19</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="20 - 29"/></i>
						    <span class="option-text">20 - 29</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="30 - 39"/></i>
						    <span class="option-text">30 - 39</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="40 - 49"/></i>
						    <span class="option-text">40 - 49</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="50 - 59"/></i>
						    <span class="option-text">50 - 59</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="60 years old and above"/></i>
						    <span class="option-text">60 years old and above</span>
						  </label>

				 	</div> 

					<line-breaker></line-breaker>	

					<div ng-if="answer.q4.ans != 'None'">
					<span class="sub-label">Age of My Companions</span>
						<div class="list tab-option">

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP5" ng-model="answer.qP5.ans1.active" value="12 years old and below" ng-change="companionAge(answer.qP5.ans1.active,'ans1','12 years old and below')"/></i>
							    <span class="option-text">12 years old and below</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans1.active">
								  		<input id="multi-liner" type="text" placeholder="How many are they?" class="column-one" ng-model="answer.qP5.ans1.total"/>  
								  </div>		

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP6" ng-model="answer.qP5.ans2.active" value="13 - 15" ng-change="companionAge(answer.qP5.ans2.active,'ans2','13 - 15')"/></i>
							    <span class="option-text">13 - 15</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans2.active">
								  		<input id="multi-liner" type="text" placeholder="How many are they?" class="column-one" ng-model="answer.qP5.ans2.total"/>  
								  </div>


							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP7" ng-model="answer.qP5.ans3.active" value="16 - 19" ng-change="companionAge(answer.qP5.ans3.active,'ans3','16 - 19')"/></i>
							    <span class="option-text">16 - 19</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans3.active">
								  		<input id="multi-liner" type="text" placeholder="How many are they?" class="column-one" ng-model="answer.qP5.ans3.total"/>  
								  </div>

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP8" ng-model="answer.qP5.ans4.active" value="20 - 29" ng-change="companionAge(answer.qP5.ans4.active,'ans4','20 - 29')"/></i>
							    <span class="option-text">20 - 29</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans4.active">
								  		<input id="multi-liner" type="text" placeholder="How many are they?" class="column-one" ng-model="answer.qP5.ans4.total"/>  
								  </div>

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP9" ng-model="answer.qP5.ans5.active" value="30 - 39" ng-change="companionAge(answer.qP5.ans5.active,'ans5','30 - 39')"/></i>
							    <span class="option-text">30 - 39</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans5.active">
								  		<input id="multi-liner" type="text" placeholder="How many are they?" class="column-one" ng-model="answer.qP5.ans5.total"/>  
								  </div>

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP10" ng-model="answer.qP5.ans6.active" value="50 - 59" ng-change="companionAge(answer.qP5.ans6.active,'ans6','50 - 59')"/></i>
							    <span class="option-text">50 - 59</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans6.active">
								  		<input id="multi-liner" type="text" placeholder="How many are they?" class="column-one" ng-model="answer.qP5.ans6.total"/>  
								  </div>

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP11" ng-model="answer.qP5.ans7.active" value="60 years old and above" ng-change="companionAge(answer.qP5.ans7.active,'ans7','60 years old and above')"/></i>
							    <span class="option-text">60 years old and above </span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans7.active">
								  		<input id="multi-liner" type="text" placeholder="How many are they?" class="column-one" ng-model="answer.qP5.ans7.total"/>  
								  </div>

					 	</div> 

					 	<line-breaker></line-breaker>

				 	</div>

			 	</div>
			</p>
		</div>


		<!-- Laguage English  -->
		<div  ng-if="language == 'Tagalog'" id="survey-margin">
			<p>
				<span class="label-bold">Personal na Impormasyon</span>
				<line-breaker2></line-breaker2>

				<span class="sub-label">Kasarian ko</span>
				<div class="list tab-option">
					  <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP1" ng-model="answer.qP1.ans" value="Male"/></i>
					    <span class="option-text">Lalake</span>
					  </label>

					  <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP1" ng-model="answer.qP1.ans" value="Female"/></i>
					    <span class="option-text">Babae</span>
					  </label>
			 	</div>

				<span class="sub-label">Status ko</span>
				<div class="list tab-option">
					  <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP2" ng-model="answer.qP2.ans" value="Single"/></i>
					    <span class="option-text">Single</span>
					  </label>

					  <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP2" ng-model="answer.qP2.ans" value="Married"/></i>
					    <span class="option-text">May asawa</span>
					  </label>
			 	</div>

			 	<span class="sub-label">Hanap-buhay ko</span>
				<div class="list tab-option">

					  <!-- Working or has own business -->
					  <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP3" ng-model="answer.qP3.ans" value="Working or has own business" ng-change="deleteObj.dual('qP3','sub')"/></i>
					    <span class="option-text">Nagtatrabaho/May sariling negosyo</span>
					  </label>

						  <!-- Sub content of Working or has own business -->
						  <div ng-if="answer.qP3.ans == 'Working or has own business'">
		  					  <div class="sub-2-column">
							  		<input id="multi-liner" type="text" placeholder="Pangalan ng opisina" class="column-one" ng-model="answer.qP3.sub.est_name"/>  
							  </div>		  

							  <line-breaker></line-breaker>		

							  <div class="sub-2-column">
	                               <div class="wrapper-one">
		                               <select class="borderless-one" ng-model="answer.qP3.sub.region" ng-change="QPFilter.region(answer.qP3.sub.region.regCode)" ng-options="a.regDesc for a in qp_regions">
		                                          <option value="">Rehiyon</option>
		                                </select>  
		                           </div>
		                           <div class="wrapper-two">
								  		<select class="borderless-two" ng-model="answer.qP3.sub.province" ng-change="QPFilter.province(answer.qP3.sub.province.provCode)" ng-options="b.provDesc for b in qp_provinces">
								  				  <option value="">Probinsya</option>
								  		</select>  
								  	</div>
							  </div>

							  <line-breaker></line-breaker>

							  <div class="sub-2-column">
							  		<div class="wrapper-one">
								  		<select  class="borderless-one" ng-model="answer.qP3.sub.city" ng-change="QPFilter.city(answer.qP3.sub.city.citymunCode)" ng-options="c.citymunDesc for c in qp_city">
								  				  <option value="">Siyudad/Munisipalidad</option>
								  		</select>  
							  		</div>
							  		<div class="wrapper-two">
								  		<select class="borderless-two" ng-model="answer.qP3.sub.brgy" ng-options="d.brgyDesc for d in qp_brgy">
								  				  <option value="">Barangay</option>
								  		</select>  
								  	</div>
							  </div>

							  <line-breaker></line-breaker>	

							  <div class="sub-2-column">
							  		<input id="multi-liner" type="text" placeholder="Pangalan ng kalye" class="column-one" ng-model="answer.qP3.sub.street_name"/>  
							  		<input id="multi-liner" type="text" placeholder="House No./Lot No./Bldg. No." class="column-two" ng-model="answer.qP3.sub.building_no"/>
							  </div>

							  <line-breaker></line-breaker>	

							  <div class="sub-2-column">
								  	<input id="multi-liner" type="text" placeholder="Telepono" class="column-one" ng-model="answer.qP3.sub.tel_no"/>  
							  </div>	

							  <line-breaker></line-breaker>	
						 </div>


					 <!-- Not working/Student/Housewife -->
					 <label class="item item-icon-left borderless">
					    <i class="icon" id="red-radio"><input type='radio' name="qP3" ng-model="answer.qP3.ans" value="Not working/Student/Housewife" ng-change="deleteObj.dual('qP3','sub')"/></i>
					    <span class="option-text">Hindi nagtatrabaho/Estudyante/Housewife</span>
					 </label>

						 <!-- Sub Content of Not working/Student/Housewife -->
						  <div ng-if="answer.qP3.ans == 'Not working/Student/Housewife'">
		  					  <div class="sub-2-column">
							  		<input id="multi-liner" type="text" placeholder="Eskwelahan/Tirahan" class="column-one" ng-model="answer.qP3.sub.est_name"/>  
							  </div>		  

							  <line-breaker></line-breaker>		

							  <div class="sub-2-column">
	                               <div class="wrapper-one">
		                               <select class="borderless-one" ng-model="answer.qP3.sub.region" ng-change="QPFilter.region(answer.qP3.sub.region.regCode)" ng-options="a.regDesc for a in qp_regions">
		                                          <option value="">Rehiyon</option>
		                                </select>  
		                           </div>
		                           <div class="wrapper-two">
								  		<select class="borderless-two" ng-model="answer.qP3.sub.province" ng-change="QPFilter.province(answer.qP3.sub.province.provCode)" ng-options="b.provDesc for b in qp_provinces">
								  				  <option value="">Probinsya</option>
								  		</select>  
								  	</div>
							  </div>

							  <line-breaker></line-breaker>

							  <div class="sub-2-column">
							  		<div class="wrapper-one">
								  		<select  class="borderless-one" ng-model="answer.qP3.sub.city" ng-change="QPFilter.city(answer.qP3.sub.city.citymunCode)" ng-options="c.citymunDesc for c in qp_city">
								  				  <option value="">Siyudad/Munisipalidad</option>
								  		</select>  
							  		</div>
							  		<div class="wrapper-two">
								  		<select class="borderless-two" ng-model="answer.qP3.sub.brgy" ng-options="d.brgyDesc for d in qp_brgy">
								  				  <option value="">Barangay</option>
								  		</select>  
								  	</div>
							  </div>

							  <line-breaker></line-breaker>	

							  <div class="sub-2-column">
							  		<input id="multi-liner" type="text" placeholder="Pangalan ng kalye" class="column-one" ng-model="answer.qP3.sub.street_name"/>  
							  		<input id="multi-liner" type="text" placeholder="House No./Lot No./Bldg. No." class="column-two" ng-model="answer.qP3.sub.building_no"/>
							  </div>

							  <line-breaker></line-breaker>	

						 </div>

					<br/>
					<span class="sub-label">Edad ko</span>
					<div class="list tab-option">

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="13 - 15"/></i>
						    <span class="option-text">13 - 15</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="16 - 19"/></i>
						    <span class="option-text">16 - 19</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="20 - 29"/></i>
						    <span class="option-text">20 - 29</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="30 - 39"/></i>
						    <span class="option-text">30 - 39</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="40 - 49"/></i>
						    <span class="option-text">40 - 49</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="50 - 59"/></i>
						    <span class="option-text">50 - 59</span>
						  </label>

						  <label class="item item-icon-left borderless">
						    <i class="icon" id="red-radio"><input type='radio' name="qP4" ng-model="answer.qP4.ans" value="60 years old and above"/></i>
						    <span class="option-text">60 na taong gulang o pataas</span>
						  </label>

				 	</div> 

					<line-breaker></line-breaker>	

					<div ng-if="answer.q4.ans != 'None'">
					<span class="sub-label">Edad ng mga kasama ko</span>
						<div class="list tab-option">

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP5" ng-model="answer.qP5.ans1.active" value="12 years old and below" ng-change="companionAge(answer.qP5.ans1.active,'ans1','12 years old and below')"/></i>
							    <span class="option-text">12 na taong gulang o mas bata</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans1.active">
								  		<input id="multi-liner" type="text" placeholder="Ilan sila?" class="column-one" ng-model="answer.qP5.ans1.total"/>  
								  </div>		

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP6" ng-model="answer.qP5.ans2.active" value="13 - 15" ng-change="companionAge(answer.qP5.ans2.active,'ans2','13 - 15')"/></i>
							    <span class="option-text">13 - 15</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans2.active">
								  		<input id="multi-liner" type="text" placeholder="Ilan sila?" class="column-one" ng-model="answer.qP5.ans2.total"/>  
								  </div>


							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP7" ng-model="answer.qP5.ans3.active" value="16 - 19" ng-change="companionAge(answer.qP5.ans3.active,'ans3','16 - 19')"/></i>
							    <span class="option-text">16 - 19</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans3.active">
								  		<input id="multi-liner" type="text" placeholder="Ilan sila?" class="column-one" ng-model="answer.qP5.ans3.total"/>  
								  </div>

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP8" ng-model="answer.qP5.ans4.active" value="20 - 29" ng-change="companionAge(answer.qP5.ans4.active,'ans4','20 - 29')"/></i>
							    <span class="option-text">20 - 29</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans4.active">
								  		<input id="multi-liner" type="text" placeholder="Ilan sila?" class="column-one" ng-model="answer.qP5.ans4.total"/>  
								  </div>

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP9" ng-model="answer.qP5.ans5.active" value="30 - 39" ng-change="companionAge(answer.qP5.ans5.active,'ans5','30 - 39')"/></i>
							    <span class="option-text">30 - 39</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans5.active">
								  		<input id="multi-liner" type="text" placeholder="Ilan sila?" class="column-one" ng-model="answer.qP5.ans5.total"/>  
								  </div>

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP10" ng-model="answer.qP5.ans6.active" value="50 - 59" ng-change="companionAge(answer.qP5.ans6.active,'ans6','50 - 59')"/></i>
							    <span class="option-text">50 - 59"</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans6.active">
								  		<input id="multi-liner" type="text" placeholder="Ilan sila?" class="column-one" ng-model="answer.qP5.ans6.total"/>  
								  </div>

							  <label class="item item-icon-left borderless">
							    <i class="icon" id="red-radio"><input type='checkbox' name="qP11" ng-model="answer.qP5.ans7.active" value="60 years old and above" ng-change="companionAge(answer.qP5.ans7.active,'ans7','60 years old and above')"/></i>
							    <span class="option-text">60 na taong gulang o pataas</span>
							  </label>

						  		  <div class="tab-age" ng-if="answer.qP5.ans7.active">
								  		<input id="multi-liner" type="text" placeholder="Ilan sila?" class="column-one" ng-model="answer.qP5.ans7.total"/>  
								  </div>

					 	</div> 

					 	<line-breaker></line-breaker>

				 	</div>

			 	</div>
			</p>
		</div>


		<div id="floater"></div>
	</ion-content>
	
	<!-- Footer Bar -->
	<div  keyboard-attach class="bar-footer bar bar-assertive hide-on-keyboard-open">
		<a class="button icon button-clear ion-ios-arrow-back" ng-click='validatePage.personalInfoBackState()'></a>
		<button class="button button-clear" ng-click="validatePage.pageQP()"> <i class="middle-text">Submit Form</i> <i class="ion-ios-arrow-forward icon-footer"> </i></button>
	</div>

</ion-view>