<!--  Survey Landing Page View  -->

<ion-view id="settings-bg" hide-back-button="true">

	<ion-nav-buttons side="left">
	 	<a id="view-title-color"  class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></a>
	</ion-nav-buttons>

	<ion-content scroll="false" id="survey-home-bg">
	
		<img src="./img/logo.jpg" id="landing-page-icon"/>
		
		<div ng-if="language == 'English'">
			<p class="store-type-text"> {{ store_type }} Survey </p>
			<p class="landing-text">
				<span>
					 Kindly answer this survey form.
					 <line-breaker></line-breaker>
				</span>
				Thank you very much!
				<line-breaker2></line-breaker2>
				Please receive a special token upon <br/> returning the accomplished survey form
				<line-breaker3></line-breaker3>
				<a  id="landing-button" class="button button-clear" ng-click="clearStorage()">
					Answer the Form
				</a>
				<line-breaker2></line-breaker2>
				<line-breaker3></line-breaker3>
				The information that you will be disclosing to us <br/> will be of great significance for <br/> enhancing our service.
			</p>
		</div>

		<div ng-if="language == 'Tagalog'">
			<p class="store-type-text"> {{ store_type }} Survey </p>
			<p class="landing-text">
				<span>
					 Maaari lang po sagutan ang form na ito..
					 <line-breaker></line-breaker>
				</span>
				Maraming Salamat po!! 
				<line-breaker2></line-breaker2>
				Tanggapin ang special token  <br/> pagbalik sa crew ng nasagutang form.
				<line-breaker3></line-breaker3>
				<a id="landing-button" class="button button-clear" ng-click="clearStorage()">
					Sagutin ang Form
				</a>
				<line-breaker3></line-breaker3>
				<line-breaker2></line-breaker2>
				Ang impormasyon mula sa inyo <br/>  ay mahalaga para mapabuti <br/>  namin ang aming serbisyo.
			</p>
		</div>

	</ion-content>

</ion-view>